<div class="nav-collapse collapse">                   
    <form action="{{path('rechercheProduits')}}" method="POST" class="navbar-form form-search pull-right">
        {{ form_widget(form.nom, {'attr': {'class': 'input-medium search-query'}}) }}
        <button type="submit" class="btn">Rechercher</button>
        {{form_end(form)}}
    </form>               
</div>
