<div class="nav-collapse collapse">                   
    <form class="navbar-form form-search pull-right">
        <input id="Search" name="Search" type="text" class="input-medium search-query">
        <button type="submit" class="btn">Rechercher</button>
    </form>               
</div>